@model BookTrade.Models.Autor

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/bookTrade.css" rel="stylesheet" type="text/css" />
<h2 style="margin-top: 50px;">Apagar</h2>
<table>
    <tr>
        <td>
            <div>
                @*Mostrar fotografia do autor*@
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.AutorFotografia)" class="imgAutor" />
            </div>
        </td>
        <td>
            <div>
                <div class="nomeAutor">
                    @*Mostrar nome do autor*@
                    @Html.DisplayFor(model => model.Nome)
                </div>
                @*Mostrar data de nascimento do autor*@
                <div class="datanascAutor">
                    Nasceu
                    <b>
                        @Html.DisplayFor(model => model.DataNasc)
                    </b>
                </div>
                <div class="descrAutor">
                    <b>Sinopse:</b>
                    @*Mostrar descrição do autor*@
                    @Html.DisplayFor(model => model.Descricao)
                </div>
            </div>
        </td>
        <h3>Tem a certeza que pretende apagar?</h3>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Apagar" class="btn btn-outline-danger" />
                    @Html.ActionLink("Voltar à Lista", "Index", null, new { @class = "btn btn-outline-primary btn-large" })
                </div>
            }
        </td>
    </tr>
</table>
