@model BookTrade.Models.Autor

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top: 50px;">Apagar</h2>
<table>
    <tr>
        <td>
            <div>
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.AutorFotografia)" style="object-fit:cover" width="480" height="330" />
            </div>
        </td>
        <td>
            <div>
                <div style="font-family:Arial; font-size:30px; color:blue; font-weight:bold; margin-top:35px; padding-left:100px;">
                    @Html.DisplayFor(model => model.Nome)
                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px;">
                    Nasceu
                    <b>
                        @Html.DisplayFor(model => model.DataNasc)
                    </b>
                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px; padding-top: 50px;text-align:justify;">
                    <b>Sinopse:</b>
                    @Html.DisplayFor(model => model.Descricao)
                </div>
            </div>
        </td>
        <h3>Tem a certeza que pretende apagar?</h3>

    </tr>
    <tr>
        <td>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Apagar" class="btn btn-outline-danger" />
                    @Html.ActionLink("Voltar à Lista", "Index", null, new { @class = "btn btn-outline-primary btn-large" })
                </div>
            }
        </td>
    </tr>

</table>
