@model BookTrade.Models.Autor

@{
    ViewBag.Title = "Details";
}
<table>
    <tr>
        <td>
            <div>
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.Fotografia)"
            </div>
        </td>
        <td>
            <div>


                <div style="font-family:Arial; font-size:30px; color:blue; font-weight:bold; margin-top:35px; padding-left:100px;">
                    @Html.DisplayFor(model => model.Nome)
                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px;">
                    Nasceu
                    <b>
                        @Html.DisplayFor(model => model.DataNasc)
                    </b>

                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px; padding-top: 50px;">
                    <b>Sinopse:</b>
                    @Html.DisplayFor(model => model.Descricao)
                </div>
            </div>

        </td>

    </tr>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
