@model BookTrade.Models.Autor

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/bookTrade.css" rel="stylesheet" type="text/css" />
<table style="margin-top: 50px;">
    <tr>
        <td>
            <div>
                @*Mostrar fotografia do autor*@
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.AutorFotografia)" class="imgAutor" />
            </div>
        </td>
        <td>
            <div>
                @*Mostrar nome do autor*@
                <div class="nomeAutor">
                    @Html.DisplayFor(model => model.Nome)
                </div>
                @*Mostrar data de nascimento do autor*@
                <div class="datanascAutor">
                    Nasceu
                    <b>
                        @Html.DisplayFor(model => model.DataNasc)
                    </b>
                </div>
                <div class="descrAutor">
                    <b>Sinopse</b></br>
                    @*Mostrar descrição do autor*@
                    @Html.DisplayFor(model => model.Descricao)
                </div>
            </div>
        </td>
    </tr>
</table>
<p>
    @if (User.IsInRole("Admin")) {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-dark btn-large" })
        @Html.ActionLink("Apagar", "Delete", new { id = Model.Id }, new { @class = "btn btn-outline-danger btn-large" }){
            @*Esconder botão quando admin não tem login feito*@
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.Id" />
        }
    }
    @Html.ActionLink("Voltar à Lista", "Index", null, new { @class = "btn btn-outline-primary btn-large" })
</p>
