@model IEnumerable<BookTrade.Models.Autor>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bookTrade.css" rel="stylesheet" type="text/css" />

<h2 style="margin-top: 50px;">Autores</h2>
<div class="init">
    @foreach (var item in Model) {
    <div class="layout" style="width: 28%;margin-top:50px">
            <img src="~/imagens/@item.AutorFotografia" style="object-fit:cover" width="300" height="280" />
            <div style="margin-top:10px;">
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
            <div>
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-large" })
                @if (User.IsInRole("Admin")) {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-large" })
                    @Html.ActionLink("Apagar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-large" })
                    @*Esconder botão quando admin não tem login feito*@
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="item.Id" />
                }
            </div>
    </div>
    }
</div>
<p style="margin-top:50px">

    @if (User.IsInRole("Admin")) {
        @Html.ActionLink("Adicionar Novo Livro", "Create", null, new { @class = "btn btn-outline-primary btn-large" })

        @*Esconder botão quando admin não tem login feito*@
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="item.Id" />
    }
</p>
