@model BookTrade.Models.Livro

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top: 50px;">Apagar Livro</h2>

<table>
    <tr>
        <td>
            <div>
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.Fotografia)"
            </div>
        </td>
        <td>
            <div>


                <div style="font-family:Arial; font-size:30px; color:blue; font-weight:bold; margin-top:-35px; padding-left:100px;">
                    @Html.DisplayFor(model => model.Titulo)
                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px;">
                    de
                    <b>
                        @Html.DisplayFor(model => model.Autores.Nome)
                    </b>

                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px;">
                    Editor:
                    @Html.DisplayFor(model => model.Editora)
                </div>
                <div style="font-family:Arial; font-size:20px; padding-left:100px;">
                    <b>Lançado em:</b>
                    @Html.DisplayFor(model => model.AnoLanc)
                </div>
                <div style="font-family:Arial; font-size:15px; padding-left:100px;">
                    @Html.DisplayFor(model => model.Idioma)
                    <br />
                    <b>Número de páginas: </b>
                    @Html.DisplayFor(model => model.NumeroDePaginas)
                </div>

                <div style="font-family:Arial; font-size:20px; padding-left:100px; padding-top: 50px;">
                    <b>Sinopse:</b>
                    @Html.DisplayFor(model => model.Sinopse)
                </div>
            </div>

        </td>

    </tr>


    <h3>Tem a certeza que pretende apagar?</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</table>
