@model BookTrade.Models.Livro

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/bookTrade.css" rel="stylesheet" type="text/css" />
<h2 style="margin-top: 50px;">Apagar Livro</h2>
<table>
    <tr>
        <td>
            <div>
                @*Mostrar capa do livro*@
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.Fotografia)"
            </div>
        </td>
        <td>
            <div>
                @*Mostrar Nome do livro*@
                <div class="tituloLivros">
                    @Html.DisplayFor(model => model.Titulo)
                </div>
                @*Mostrar detalhes sobre o livros*@
                <div class="livrosInfo">
                    de
                    <b>
                        @Html.ActionLink(Model.Autores.Nome, "Details", "Autors", new { Id = Model.Autores.Id }, null)
                    </b><br />
                    Editor:
                    @Html.DisplayFor(model => model.Editora)
                    <br /><b>
                        Lançado em:
                    </b>
                    @Html.DisplayFor(model => model.AnoLanc)
                    <br />
                    @Html.DisplayFor(model => model.Idioma)
                    <br /><b>
                        Número de páginas:
                    </b>
                    @Html.DisplayFor(model => model.NumeroDePaginas)
                </div>
                @*Mostrar sinopse do livro*@
                <div class="sinopse">
                    <b>Sinopse:</b>
                    @Html.DisplayFor(model => model.Sinopse)
                </div>
            </div>
        </td>
    </tr>
    <h3>Tem a certeza que pretende apagar?</h3>
    <tr>
        <td>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Apagar" class="btn btn-outline-danger" />
                    @Html.ActionLink("Voltar à Lista", "Index", null, new { @class = "btn btn-outline-primary btn-large" })
                </div>
            }
        </td>
    </tr>
</table>
