@model BookTrade.Models.Livro

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/bookTrade.css" rel="stylesheet" type="text/css" />


<table>
    <tr>
        <td>
            <div style="margin-top: 50px;">
                <img src="~/imagens/@Html.DisplayFor(Model=> Model.Fotografia)"
            </div>
        </td>
        <td>
            <div>
                <div class="tituloLivros">
                    @Html.DisplayFor(model => model.Titulo)
                </div>
                <div class="livrosInfo">
                    de
                    <b>
                        @Html.ActionLink(Model.Autores.Nome, "Details", "Autors", new { Id = Model.Autores.Id }, null)
                    </b><br />
                    Editor:
                    @Html.DisplayFor(model => model.Editora)
                    <br /><b>
                        Lançado em:
                    </b>
                    @Html.DisplayFor(model => model.AnoLanc)
                    <br />
                    @Html.DisplayFor(model => model.Idioma)
                    <br /><b>
                        Número de páginas:
                    </b>
                    @Html.DisplayFor(model => model.NumeroDePaginas)
                </div>
                <div class="sinopse">
                    <b>Sinopse</b><br>
                    @Html.DisplayFor(model => model.Sinopse)
                </div>
            </div>

        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
